.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 0 24px;
    margin-top: var(--default-layout-header-height);
    height: 1000px;
}

.content {
    flex: 1;
}
