.menu-list {
    width: 230px;
}
.menu-popper {
    width: 100%;
    padding: 8px 0;
}
.menu-item {
    + .menu-item {
        margin-left: 0; 
    }
}
.menu-item {
    width: 100%;
    border-radius: 0;
    padding: 11px 16px;
    text-align: left;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.13);
        // background: #000;
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// header
.headerMenu {
    height: 50px;
    width: 100%;
    margin-top: -8px;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-scroll{
    // margin-top: 40px;
    overflow-y: auto;
}
